.FetchButton {
    background-color: #59bfff;
    border: none;
    color: cornsilk;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    
  }

main{
    flex-direction: column;
}

.container {
    margin: auto;
    background: cadetblue;
}